@page
@model Mission09_meldrumn.Pages.CheckoutCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for ordering your order!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>